force-app/main/default/flows/Book_Order_Count_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetBookOrderLineItems</name>
        <label>GetBookOrderLineItems</label>
        <locationX>739</locationX>
        <locationY>349</locationY>
        <actionName>GetChildCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BookLineItems</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Book_Order__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__childCollection</typeName>
            <typeValue>Book_Line_Item__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>childRecordFieldsCSV</name>
            <value>
                <stringValue>Id, Preordered__c, Quantity__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>childRelationshipName</name>
            <value>
                <stringValue>Book_Line_Item__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecord</name>
            <value>
                <elementReference>Book_Orders</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetChildCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddBookQuantity</name>
        <label>AddBookQuantity</label>
        <locationX>969</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>varAllTimeOrderedBookCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BookLineItems.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdatePreorderedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PreorderedBookCountFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BookLineItems</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>PreorderedBookCountFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!BookLineItems.Preordered__c},{!BookLineItems.Quantity__c},0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Book Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Book Order Count</label>
    <loops>
        <name>Book_Orders</name>
        <label>Book Orders</label>
        <locationX>496</locationX>
        <locationY>335</locationY>
        <collectionReference>Get_Book_Order_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetBookOrderLineItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_with_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BookLineItems</name>
        <label>BookLineItems</label>
        <locationX>739</locationX>
        <locationY>529</locationY>
        <collectionReference>GetBookOrderLineItems.childCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddBookQuantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Book_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Book_Order_Records</name>
        <label>Get Book Order Records</label>
        <locationX>254</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Book_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Book_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_with_Count</name>
        <label>Update Contact with Count</label>
        <locationX>496</locationX>
        <locationY>525</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Book_Count__c</field>
            <value>
                <elementReference>varAllTimeOrderedBookCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preordered_Book_Count__c</field>
            <value>
                <elementReference>varUpdatePreorderedCount</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>455</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Book_Order_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Imported__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Book_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAllTimeOrderedBookCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varUpdatePreorderedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
