force-app/main/default/flows/Create_QA_Task_for_Book_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Should_QA_Task_Spot_Check_Task_be_Created</name>
        <label>Should QA Task Spot Check Task be Created?</label>
        <locationX>500</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>Do Not Create QA Task</defaultConnectorLabel>
        <rules>
            <name>Create_QA_Task</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BookOrderName.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BookOrderName.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_QA_Spot_Check_Task</targetReference>
            </connector>
            <label>Create QA Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create QA Task for Book Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create QA Task for Book Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_QA_Spot_Check_Task</name>
        <label>Create QA Spot Check Task</label>
        <locationX>726</locationX>
        <locationY>243</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Records_for_QA_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Check Book Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varBookLineItem.Book_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>BookOrderName</name>
        <label>BookOrderName</label>
        <locationX>350</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_QA_Task_Spot_Check_Task_be_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBookLineItem.Book_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Book_Order__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_for_QA_Queue</name>
        <label>Get Records for QA Queue</label>
        <locationX>191</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BookOrderName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQATeamQueue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Records_for_QA_Queue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varBookLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varQATeamQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>QA_Team</stringValue>
        </value>
    </variables>
</Flow>
