force-app/main/default/flows/Staff_Recommendation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Book_Title_to_Current_Recommendation</name>
        <label>Assign Book Title to Current Recommendation</label>
        <locationX>805</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>MatchThisBook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Books</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Books</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Recommended_Books_by_Genre</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Recommended Books by Genre</label>
        <locationX>560</locationX>
        <locationY>139</locationY>
        <assignNextValueToReference>currentItem_Filter_Recommended_Books_by_Genre</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Recommended_Books</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Recommended_Books_by_Genre.Genre__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>$Record.Favorite_Genre__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Books</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Staff Recommendation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Staff Recommendation</label>
    <loops>
        <name>Loop_through_Books</name>
        <label>Loop through Books</label>
        <locationX>560</locationX>
        <locationY>139</locationY>
        <collectionReference>Filter_Recommended_Books_by_Genre</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Book_Title_to_Current_Recommendation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Recommended_Book</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Recommended_Books</name>
        <label>Get Recommended Books</label>
        <locationX>780</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Recommended_Books_by_Genre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Staff_Recommended__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Book__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Recommended_Book</name>
        <label>Set Recommended Book</label>
        <locationX>376</locationX>
        <locationY>134</locationY>
        <inputAssignments>
            <field>Current_Recommendation__c</field>
            <value>
                <elementReference>MatchThisBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>905</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Recommended_Books</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Favorite_Genre__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MatchThisBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Recommended_Books_by_Genre</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book__c</objectType>
    </variables>
</Flow>
